body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

body .main-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

body .background, body .bg-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
  pointer-events: none;
}

body .bg-effect {
  background-color: rgba(9, 35, 112, 0.623);
}

body .location-section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
  font-size: 2rem;
}

body .location-section-bg {
  background: rgba(33, 150, 243, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-right: auto;
  margin-left: 3rem;
  height: 4rem;
  padding: 2rem;
}

body .temp-section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .temp-section .temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 2;
}

body .temp-section .degrees, body .temp-section .degrees-type {
  font-size: 3rem;
  padding: 5px;
}

body .temp-section .description {
  font-size: 1.5rem;
}

body .extra-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
  padding-bottom: 50px;
}

body .extra-container .item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  width: 150px;
  height: 210px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: -4px 3px 16px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -4px 3px 16px -3px rgba(0, 0, 0, 0.75);
}

body .extra-container .item .extra-icons {
  width: 40px;
  height: auto;
}

body .extra-container .item .wind-speed {
  cursor: pointer;
}

body .extra-container .item .item-data {
  font-weight: bold;
}

body .extra-container .item .item-title {
  font-weight: bold;
  font-size: 1.1rem;
}

body .forecast {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
}

body .forecast h2 {
  color: #464646;
  font-weight: normal;
}

body .forecast-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 270px;
  padding: 0px 15px 30px 15px;
  margin: 25px;
  background-color: #3189fc;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: -4px 3px 16px -3px rgba(0, 0, 0, 0.3);
          box-shadow: -4px 3px 16px -3px rgba(0, 0, 0, 0.3);
}

body .forecast-item-container .forecast-item-date {
  font-size: 2rem;
}

body .forecast-item-container .forecast-temps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .forecast-item-container .forecast-temps .minmax-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .forecast-item-container .forecast-temps .minmax-container .min, body .forecast-item-container .forecast-temps .minmax-container .max {
  cursor: pointer;
}

body .forecast .forecast-cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-bottom: 5%;
}

@media screen and (max-width: 850px) {
  body .main-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
  }
  body .location-section {
    font-size: 1.25rem;
    height: auto;
  }
  body .location-section-bg {
    margin: 0 1rem;
  }
  body .extra-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .extra-container .item {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.1rem auto;
    width: 350px;
    height: 80px;
    font-size: 0.8rem;
  }
  body .forecast .forecast-cards-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */